.features__list {
  display: flex;
}

.features__item {
  flex-basis: 270px;
}
.feature {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.feature__decoration {
  background-color: $background-color-light;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.feature__heading {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature__discription {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
