.team {
  background-color: $background-color-light;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.team__heading {
  font-size: $team-heading-font-mob-size;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: $heading-font-size;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.teammate {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $color-white;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

.teammate__discription {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammate__name {
  font-size: $secondary-font-size;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.teammate__profession {
  color: $secondary-text-color;
  font-size: $secondary-font-size;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
